/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require './fonts'

body
  font-family Roboto

.home .hero img
  max-width 450px!important

main
  background-color #f