/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/article";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/search";

body {
  color: #2d72b6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.header-anchor {
  display: none;
}

/* ------------------------------------------------------------ *\
    User Logos
\* ------------------------------------------------------------ */

.reviews {
  padding: 50px 0;
  text-align: center;
  h4 {
    padding: 0 10% 0 10%;
  }

  @media only screen and (max-width: 752px) {
    h4 {
      padding: 0;
    }
  }
}

.quote-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 26px;
  color: $dark;
}

.quote-slider {
  margin: 0 auto;
  padding: 60px 15px 80px 15px;
  max-width: 640px;
}

@media only screen and (max-width: 752px) {
  .quote-slider {
    padding: 60px 0 80px 0;
  }
}

.quote-name {
  color: $primary-dark;
}

.quote-company {
  color: $primary-dark;
  font-size: 1rem;
}

.quote-contact {
  color: $primary-dark;
  font-size: 16px;
}

/* ------------------------------------------------------------ *\
    Supported by OSF
\* ------------------------------------------------------------ */

.support-content {
  margin-bottom: 1.5rem;
  display: flex;
  padding: 60px 0 60px 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.support-content-logo {
  background-image: url("/img/OpenInfraLogo.svg");
  background-repeat: no-repeat;
  height: 60.95px;
  width: 280px;
  max-width: 280px;
  margin-bottom: 30px;
}

.osf-logo {
  max-width: 225px;
  margin-bottom: 30px;
}

.support-content-info {
  margin: auto;
  max-width: 500px;
  padding: 0 15px 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: $gray;
}

.osf-link {
  color: $gray;
  text-decoration: underline;
}

.about-section {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

@media only screen and (max-width: 752px) {
  .about-section {
    flex-direction: column;
    margin-top: 30px;
  }
}

.intro-paragraph {
  width: 50%;
  margin-right: 30px;
}

@media only screen and (max-width: 752px) {
  .intro-paragraph {
    width: 100%;
    margin-right: unset;
    margin-top: 30px;
    order: 2;
  }
}

.diagram {
  width: 50%;
  margin-left: 30px;
}

@media only screen and (max-width: 752px) {
  .diagram  {
    width: 100%;
    margin-left: unset;
    order: 1;
  }
}

.latest-news-video {
  background-color: #F2F2F2;
  width: 100%;
  padding: 60px 0 60px 0;
}

.latest-news {
  margin: 0 auto;
  text-align: center;
  background-color: #F2F2F2;
  width: 100%;
  padding: 60px 0 60px 0;
}

@media only screen and (max-width: 752px) {
  .latest-news  {
    text-align: left;
  }
}

a.news-link {
  font-weight: 600;
  text-decoration: underline;
  color: #333333;;
}

a.news-link:hover {
  color: #666666;;
  text-decoration: unset;
}

.section-content {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 752px) {
  .section-content  {
    flex-direction: column;
  }
}

.video {
  width: 50%;
  margin-right: 30px;
}

.video-hero {
  width: 50%;
  margin-left: 30px;
}

@media only screen and (max-width: 752px) {
  .video-hero    {
    order: 1;
    width: 100%;
    margin-left: unset;
    margin-bottom: 30px;
  }
}


@media only screen and (max-width: 752px) {
  .video   {
    width: 100%;
    margin-right: unset;
    margin-bottom: 30px;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  background-color: gray;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.latest-news-description {
  margin: 0 auto;
  width: 80%;
  color: gray;
}

@media only screen and (max-width: 752px) {
  .latest-news-description {
    width: 100%;
  }
}

.description {
  width: 50%;
  color: gray;
  margin-left: 30px;
}

@media only screen and (max-width: 752px) {
  .description {
    width: 100%;
    margin-left: unset;
  }
}

.news-title {
  color: #141F47;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.search-content{
  background-color: #F2F2F2;
  margin-top: unset;
  padding: 60px 0 60px 0;
  
.columns-sponsors {
  text-align:center;
}